<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <StreamDownloader.Properties.Settings>
            <setting name="DownloadFolder" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="TempDownloadFolder" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="DownloadBufferSize" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="CustomTempDownloadFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDownloadBufferSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FIRST_RUN" serializeAs="String">
                <value>True</value>
            </setting>
        </StreamDownloader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StreamDownloader.Properties.Settings>
            <setting name="DEFAULT_DownloadBufferSize" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="DEFAULT_CustomTempDownloadFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_CustomDownloadBufferSize" serializeAs="String">
                <value>False</value>
            </setting>
        </StreamDownloader.Properties.Settings>
    </applicationSettings>
</configuration>
